@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F8F6;
  --foreground: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
